[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
psycopg2-binary = "*"
graphene-django = "*"
django-configurations = "*"
dj-database-url = "*"
django-redis = "*"
django-cache-url = "*"
channels = "*"
asgiref = "*"
faker = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]
yapf = "*"
pytest = "*"
jupyter = "*"
flake8 = "*"
pyflakes = "*"
mccabe = "*"
pytest-django = "*"
tox = "*"
django-redis = "*"

[requires]
python_version = "3.8"
