[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
channels = "*"
dj-database-url = "*"
django = "*"
django-cache-url = "*"
django-configurations = "*"
django-redis = "*"
graphene-django = "*"
gunicorn = "*"
psycopg2-binary = "*"
uvicorn = "*"
wagtail = "*"
Faker = "*"
factory-boy = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]
yapf = "*"
pytest = "*"
flake8 = "*"
pyflakes = "*"
mccabe = "*"
pytest-django = "*"
tox = "*"
factory_boy = "*"
